.dialog-root {
    position: relative;
    z-index: 2000;
  }
  
  .dialog-container {
    position: fixed;
    inset: 0;
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background-color: rgba(0, 0, 0, 0.151); /* Optional: dark backdrop */
    
  }
  
  .dialog-panel {
 /* height: 100vh; */
    background-color: transparent;
    padding: 3rem;
    border: none; /* same as border */
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
  }
  
  .dialog-title {
    font-weight: bold;
    font-size: 1.25rem;
  }
  
  .dialog-description {
    font-size: 1rem;
    color: #4b5563;
  }
  
  .dialog-text {
    font-size: 1rem;
  }
  
  .dialog-actions {
    display: flex;
    gap: 1rem;
  }
  
  .dialog-button {
    padding: 0.5rem 1rem;
    border-radius: 0.375rem;
    border: none;
    cursor: pointer;
    font-weight: 500;
  }
  
  .dialog-button.cancel {
    background-color: #e5e7eb;
    color: #111827;
  }
  
  .dialog-button.deactivate {
    background-color: #ef4444;
    color: white;
  }
  