/* Main container */
.single-store-wrapper-container{
    
    background-color: var(--clr-background);
}
.user_reviews_container {
  padding-bottom: 4rem;
  background-color: var(--color-white);
}

/* Content area */
.user_reviews_content {
  padding: 0 1rem;
}
.review-container {
  background-color: white;
  z-index: 20;
  position: relative;
  padding: 1rem; /
}

.review-title {
  font-family: 'Montserrat', sans-serif; 
  font-weight: bold;
  font-size: 22px;
}


/* Individual review item */
.user_review_item {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  margin-bottom: 1rem;
  border-bottom: 1px solid #e9ecef;
}

/* Review header section */
.user_review_header {
  display: flex;
  flex-direction: row;
  align-items: center;
}

/* Avatar link */
.user_review_avatar_link {
  text-decoration: none;
}

/* Avatar wrapper */
.user_review_avatar_wrapper {
      display: flex
;
    border-radius: 9999px;
    overflow: hidden;
    border: 1px solid #b8b8b8;
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1rem;
}

/* Avatar picture */
.user_review_avatar_picture {
  display: block;
  width: 100%;
  height: 100%;
  position: relative;
}

/* Avatar image */
.user_review_avatar_img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  color: transparent;
  border: 0;
}

/* User info */
.user_review_info {
  display: flex;
  flex-direction: column;
}

/* Username */
.user_review_username {
  font-size: 1rem;
  font-weight: bold;
  font-family: "Montserrat", sans-serif;
    color: var(--color-black);
}

/* Date */
.user_review_date {
  font-size: 0.75rem;
  text-align: right;
  color: rgb(113, 113, 113);

}

/* Review body */
.user_review_body {
  flex: 1;
  margin-top: 1rem;
  color: rgb(44, 44, 44);
}

/* Rating stars */
.user_review_rating {
  display: flex;
  margin-bottom: 0.5rem;
}

/* Star icon */
.user_review_star {
  margin-right: 0.2rem;
  color: var(--clr-button);
  width: 1.25rem;
  height: 1.25rem;
}

/* Review comment */
.user_review_comment {
  margin-top: 0.5rem;
  font-size: 0.875rem;
}

/* Pagination */
.user_reviews_pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: var(--font-heading);
  font-size: 1rem;
  font-weight: 500;
  text-align: center;
  padding: 1.5rem 0;
}

.user_reviews_pagination_prev {
  padding-right: 1.5rem;
  width: 6rem;
}

.user_reviews_pagination_next {
  padding-left: 1.5rem;
  width: 6rem;
}