.about-profile-container {
    background-color: white;
    padding: 2rem;

    position: relative;
   
    font-family: "Montserrat", sans-serif;
    width: 100%;
    height: 100%;
  }

  @media (max-width:63.813em){
    .about-profile-container {
      padding: 0.3rem;
    }
    
  }
  
  .about-profile-info-row {
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-bottom: 1.2rem;
    color: var(--color-light-black);
    font-family: "Noto Sans", sans-serif;
    justify-content: start;
  }
  
  .about-profile-icon {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1.5rem;
    color: #444;
  }
  
  .about-profile-heading {
    font-size: 22px;
    font-weight: bold;
    padding: 1rem 0;
    text-transform: capitalize;
    text-align: start;
    color: var(--clr-black);
  }
  
  .about-profile-confirm-row {
    display: flex;
    align-items: center;
    padding: 0.6rem 0;
    border-bottom: 1px solid var(--clr-border);
  }
  
  .about-profile-icon-large {
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 1.5rem;
    color: var(--clr-button);
  }
  
  .about-profile-text-group {
    display: flex;
    flex-direction: column;
    max-width: 80%;
  }
  
  .about-profile-label {
    color: var(--clr-black);
    font-weight: bold;
    font-size: 16px;
  }
  