@import "./index.css";
.content-area {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.mobile-header {
  display: none;
  align-items: center;
  padding: var(--space-4);
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-grey-200);
  gap: var(--space-4);
}

.back-button {
  background: none;
  border: none;
  cursor: pointer;
  color: var(--color-grey-700);
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-section {
  flex: 1;
  /* padding: var(--space-8); */
  overflow-y: auto;
  padding-bottom: 30rem !important;

}

.placeholder-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  height: 100%;
  text-align: center;
  color: var(--color-grey-500);
}
.content-section-title{
  font-size: var(--font-size-sm);
  font-weight: 700;
  color: var(--color-light-black);
  margin: var(--space-3);
  text-align: center;
}
/* Responsive styles */
@media (max-width: 768px) {
  .mobile-header {
    display: flex;
  }
  
  .content-section {
    padding: var(--space-4);
  }
}

