@import "./index.css";
.side-nav {
  display: flex;
  flex-direction: column;
  padding: var(--space-4);
  /* height: 100%; */
  font-family: "Montserrat", sans-serif;
  font-size: var(--fs-600);
  font-weight: 700;
  
  border-right: 1px solid var(--clr-border);
}

.statistics-container {
  display: flex;
  gap: var(--space-3);
  margin: var(--space-4) 0;
  color: var(--clr-black);
}

.menu-section {
  margin-top: var(--space-4);
  display: flex;
  flex-direction: column;
  gap: var(--space-2);
  flex: 1;
  color: var(--clr-black);
}

.menu-footer {
  margin-top: var(--space-6);
  display: flex;
  flex-direction: column;
  gap: var(--space-3);
  padding: var(--space-4);
  border-top: 1px solid var(--color-grey-200);
  font-size: var(--font-size-sm);
  color: rgb(44, 44, 44) ;
  padding-bottom: 5rem;
}

.footer-link {
  display: flex;
  align-items: center;
  gap: var(--space-2);
  transition: color var(--transition-fast);
  color: rgb(44, 44, 44) ;
}

.footer-link:hover {
  color: var(--clr-button);
}
.footer-link:last-child{
  text-decoration: underline;
}

.footer-icon {
  font-size: var(--font-size-sm);
}