@import "./index.css";
.statistic-card {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: var(--space-3);
  background-color: var(--color-white);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-lg);
  text-align: center;
  --tw-border-opacity: 1;
  border: 1px solid rgba(232, 232, 232, var(--tw-border-opacity));


}

.statistic-value {
  font-size: var(--font-size-3xl);
  font-weight: 700;
  margin-bottom: var(--space-1);
  position: relative;
}

.statistic-value.green {
  color: var(--clr-button);
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}

.statistic-value.green::before {
  content: '';
  display: inline-block;
  width: 24px;
  height: 24px;
  background-color: var(--color-primary);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  opacity: 0.1;
}

.statistic-title {
  font-size: var(--font-size-base);
  color: var(--color-grey-700);
  margin-bottom: var(--space-1);

  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  color: var(--clr-black);
}

.statistic-unit {
  font-size: var(--font-size-13);
  color: var(--color-light-black);
  font-weight: 500;
}