@import "./index.css";
.tab-nav {
  display: flex;
  border-bottom: 1px solid var(--color-grey-200);
  position: sticky;
  top: 0;
  background-color: var(--color-white);
  z-index: 10;
  user-select: none;
}

.user-profile-card-main{
  
}

.tab-button {
  padding: var(--space-4);
  font-weight: 400;
  color: var(--color-grey-600);
  background: none;
  border: none;
  position: relative;
  cursor: pointer;
  transition: color var(--transition-fast), background-color 0.3s ease;
  font-size: var(--font-size-sm);
  font-family: "Montserrat", sans-serif;
  width: 100%;
}


.tab-button:hover {
  color: var(--color-grey-800);
}

.tab-button.active {
  color: var(--color-light-black);
  font-weight: 800;
}

.tab-button.active::after {
  content: '';
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1px;
  height: 3px;
  background-color: var(--clr-button);
  animation: slideIn var(--transition-normal) forwards;
}


.tab-button:active {
  background-color: transparent;
}

@keyframes slideIn {
  from {
    transform: scaleX(0);
  }
  to {
    transform: scaleX(1);
  }
}

@media (max-width: 768px) {
  .tab-nav {
    justify-content: space-between;
  }
  
  .tab-button {
    flex: 1;
    text-align: center;
    padding: var(--space-3) var(--space-2);
  }
}


/* image container background */

/* Image Container */
.aboutus-profile-image-container {
  width: 100%;
  overflow: hidden;
  height:6.5rem;
  background-color: var(--surface-overlay);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Picture Element */
.aboutus-profile-image-picture {
  height: 100%;
  background-color: var(--surface-overlay);
  display: block;
  min-height: 0;
  width: 100%;
}

/* Image Content */
.aboutus-profile-image-content {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  color: transparent;
  border: 0;
}

/* profile card */

/* Profile Card Container */
.profile-card-container {
  display: flex
;
  flex-direction: row;
  align-items: start;
  /* position: absolute; */
  /* flex: 1; */
  width: 100%;
  padding: 0 1rem 0.25rem 1rem;
  transition: all 0.3s ease-in-out;
}

/* Avatar Section */
/* .profile-avatar-container {
  width: 8.5rem;
  height: 8.5rem;
} */

.profile-avatar-wrapper {
  display: flex;
  position: relative;
  height: 100%;
  cursor: pointer;
  border: 1px solid #b8b8b8;
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  overflow: hidden;
  margin-top: -1rem;
}

.profile-avatar-picture {
  height: 100%;
  width: 100%;
  background-color: var(--surface-overlay);
  display: block;
  min-height: 0;
  position: relative;
}

.profile-avatar-image {
  height: 100%;
  object-fit: cover;
  width: 100%;
  color: transparent;
  border: 0;
}

/* Edit Overlay */
.profile-avatar-edit-overlay {
  position: absolute;
  height: 100%;
  width: 100%;
  display: none;
}

@media (min-width: 768px) {
  .profile-avatar-wrapper:hover .profile-avatar-edit-overlay {
    display: block;
  }
}

.profile-avatar-edit-icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
}

.profile-edit-icon {
  width: 2.5rem;
  height: 2.5rem;
}

/* User Info Section */
.profile-info-container {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;

  flex: 1;
  overflow-y: auto;
}

.profile-name-container-mobile {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /* margin-bottom: 0.5rem; */
  align-items: center;
  width: 100%;
  
}

.profile-username {
  font-weight: bold;
  font-family: var(--font-heading);
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-size: 1rem;
  text-transform: capitalize;
  width: 80%;
}

.profile-edit-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.profile-edit-icon-sm {
  width: 1.3rem;
  height: 1.3rem;
  margin-top: 6px;

}

/* Verification Badge */
.profile-verification-badge {
  display: inline-flex; 
  flex-direction: row;
  font-size: 0.8125rem;
  font-family: sans-serif;
  align-items: center;
  border-radius: 9999px;
  padding: 0.1875rem 0.6rem;
  white-space: nowrap;
  background-color: #E9E9EA;
}


.profile-verification-icon {

  padding: 0.0625rem;
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.5rem
;
color: var(--clr-button);
}

.profile-verification-text {
  color: var(--clr-button);
}

@media (min-width: 768px) {
 
  .user-profile-card-main{
    display: none;
  }
}

@media (min-width: 62.188em){
  .message-section-hide-in-computer{
    display: none;
  }
}