@import "./index.css";
.user-profile {
  display: flex;
  align-items: center;
  gap: var(--space-4);
  padding: var(--space-4);
  border-bottom: 1px solid var(--color-grey-200);
  margin-bottom: var(--space-2);
  --tw-border-opacity: 1;
  border: 1px solid rgba(232, 232, 232, var(--tw-border-opacity));
  box-shadow: var(--shadow-lg);
  border-radius: var(--radius-md);
}

.avatar-container-dashboard {
  width: 73px;
    height: 73px;
    border-radius: 50%;
    overflow: hidden;
    background-color: var(--color-grey-100);
    flex-shrink: 0;
}

.user-profile-avatar {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.user-info {
  display: flex;
  flex-direction: column;
  gap: var(--space-1);
}

.username-container {
  display: flex;
  /* align-items: center; */
  /* gap: var(--space-2); */
  flex-direction: column;
}

.username {
  margin: 0;
  font-size: var(--font-size-sm);
  font-weight: 700;
  color: var(--color-grey-900);
  font-family: "Montserrat", sans-serif;
}

.verified-badge {
  display: flex;
  align-items: center;
  gap: 1px;
  font-size: var(--font-size-13);
  color: var(--clr-button);
  background-color: #E9E9EA;
  
  border-radius: var(--radius-full);
  font-weight: 500;
  margin-block: 0.4rem;
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
}

.verified-dot {
  width: 6px;
  height: 6px;
  background-color: var(--clr-button);
  border-radius: 50%;
  display: inline-block;
}

.join-date {
  margin: 0;
  font-size: var(--font-size-xs);
  color: var(--color-grey-500);
}