.categories {
    display: flex;
    justify-content: space-between;
   
    margin: 4rem 0;
    
  }
  
  .category-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    border-radius: 12px;
    width: 100%;
    max-width: 150px;
    text-decoration: none;
    gap: 2rem;
    height: 140px;
    transition: transform 0.3s ease-in-out;
  }
  .category-card:hover .category-img {
    transform: scale(1.05);
  }
  .category-img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border: none;
    transition: transform 0.3s ease-in-out;
  }
  
  .category-label {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 1rem;
    text-align: center;
    font-weight: bold;
    font-size: 1.125rem;
    color: white;
    text-transform: capitalize;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
    font-family: "Montserrat", sans-serif;
    
  }
  
  @media (max-width:74.063em) {
    .category-card {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        border-radius: 12px;
        width: 100%;
        max-width: 140px;
        text-decoration: none;
        height: 120px
      }
  }
    @media (max-width: 67.063em) {
        .category-card {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-radius: 12px;
            width: 100%;
            max-width: 120px;
            text-decoration: none;
            height: 120px;
           
        }
    }

    @media (max-width: 58.063em) {
        .category-card {
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            border-radius: 12px;
            width: 100%;
            max-width: 110px;
            text-decoration: none;
            height: 110px
        }
        .category-label {
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 1rem;
            text-align: center;
            font-weight: bold;
            font-size: 0.9rem;
            color: white;
            text-transform: capitalize;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.6), transparent);
            font-family: "Montserrat", sans-serif;
            
          }
    }

    @media (max-width: 52.625em) {
        .categories {
           display: none;
        }
        
    }