/* Sort By Page Styles */
.sort-by-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  animation: slideInRight 0.3s ease-out;
  min-height: 82vh;
}

.secondary-header {
  display: flex;
  align-items: center;
  padding: 16px;
  border-bottom: 1px solid #eaeaea;
  position: relative;
}

.secondary-header h3 {
  margin: 0;
  font-size: 16px;
  font-weight: 600;
  width: 100%;
  text-align: center;
}

.back-button-dialog {
  background: none;
  border: none;
  font-size: 35px;
  cursor: pointer;
  width: 30px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 8px;
}

.sort-options {
  padding: 8px 0;
}

.sort-option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  cursor: pointer;
  border-bottom: 1px solid #f0f0f0;
}
.sort-option > span {
  font-size: 16px;
  color: var(--color-black);
  font-weight: 700;
  text-transform: uppercase;
}

.sort-option:hover {
  background-color: #f9f9f9;
}

.radio-button {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: border-color 0.2s;
}

.radio-button.selected {
  border-color: #00c07f;
}

.radio-inner {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #00c07f;
  animation: scaleIn 0.2s ease-out;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}