.newsletter-section {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
    background-color: var(--clr-button); 
    color: var(--clr-white); 
    padding-top: 4rem;
    padding-bottom: 4rem;
    text-align: center;
  }
  
  .newsletter-heading {
    font-size: 30px;
    text-decoration: underline;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    color:  rgb(51, 83, 96)
  }
  
  .newsletter-subheading {
    font-size: 14px;
    color:  rgb(51, 83, 96)
  }
  
  .newsletter-form {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    text-align: left;
    width: 100%;
   

  }
  
  .field-wrapper {
    display: inline-block;
    width: 100%;
    max-width: 350px;
    position: relative;
    border-radius: 6px 0 0 6px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-right: -1rem;
  }
  
  .field {
    position: relative;
  }
  
  .material-input-homepage-homepage {
    position: relative;
    font-size: 15px;
    width: 100%;
  }
  
  .material-input-homepage input {
    width: 100%;
    padding: 1.2rem 0.75rem 0.4rem 0.75rem;
    border: 1px solid #9ca3af;
    outline: none;
    background-color: white;
    appearance: none;
    font-size: 16px;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    padding: 1rem;
  }
  
  .material-input-homepage-label {
    position: absolute;
    left: 0.75rem;
    top: 1.1rem;
    pointer-events: none;
    transition: all 0.2s ease;
    color: #6b7280;
    font-size: 14px;
   
  }
  
  /* When input has text or is focused */
  .material-input-homepage input:focus + .material-input-homepage-label,
  .material-input-homepage.active .material-input-homepage-label {
    top: 0.3rem;
    font-size: 12px;
    color: var(--clr-button);
  }
  
  
  .submit-button {
    padding: 0 1.5rem;
    font-size: 16px;
    font-weight: bold;
    min-width: 60px;
   
    background-color: #335360;
    color: var(--clr-white);
    border: none;
    border-radius: 0 6px 6px 0;
    cursor: pointer;
    
    margin-left: 1rem;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
}


@media (max-width: 52.625em) {
    .newsletter-section {
       display: none;
    }
    
}