.similar-products-container {
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--clr-border);
    /* padding-left: 1rem;
    margin-bottom: 2.5rem; */
    padding: 0 !important;
  }
  
  .similar-products-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1.5rem;
    margin-top: 3rem;
   
  }
  
  .header-content {
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  
  .header-content h2 {
    font-family: var(--font-heading);
    font-weight: bold;
    line-height: 1.5;
    font-size: 1.375rem;
    white-space: pre-line;
    margin: 0;
    color: var(--clr-black);
  }
  
  .see-all-link {
    font-family: var(--font-heading);
    font-weight: 600;
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    color: inherit;
    text-decoration: none;
    color: var(--clr-black);
  }
  
  .see-all-arrow-icon {
    margin-left: 0.5rem;
    width: 1rem;
    height: 1rem;
  }
  
  .products-carousel {
    position: relative;
    width: 100%;
   
  }
  
  .carousel-container {
    position: relative;
    width: 100%;
    overflow: hidden;
  }
  
  .carousel-wrapper {
    display: flex;
    transition: transform 0.3s ease;
    width: 100%;
  }
  
  .product-card {
    cursor: pointer;
    
    padding: 0rem;
    flex-shrink: 0;
    display: flex;
    align-items: stretch;
    height: auto;
    width: 100%;
    height: 100%;
    
  }
  
  @media (min-width: 640px) {
    .product-card {
      width: 100%;
      height: 100%;
    }
  }
  
  @media (min-width: 1024px) {
    .product-card {
      width: 100%;
      height: 100%;
      
    }
  }
  
  .product-link {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
  }
  
  .product-link:hover {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  }
  
  .product-image-container {
    position: relative;
    overflow: hidden !important;
    flex-shrink: 0;
    height: 0;
    padding-bottom: 130px;
  } 
  
  .seller-info-recommended {
    position: absolute;
    z-index: 3;
    top: 1rem;
    left: 0;
    padding: 0 1rem;
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
  }
  
  .seller-avatar {
    flex: none;
    width: 30px;
    height: 30px;
    border: 1px solid white;
    border-radius: 30px;
    overflow: hidden;
  }
  
  @media (min-width: 640px) {
    .seller-avatar {
      width: 40px;
      height: 40px;
      border-width: 2px;
    }
    .product-image-container {
       
        padding-bottom: 277px;
      } 
  }
  
  .seller-avatar:hover {
    border-color: var(--primary-color);
  }
  
  .seller-avatar img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .seller-details {
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    margin-left: 0.5rem;
    font-size: 0.625rem;
    font-weight: 500;
    color: white;
  }
  
  @media (min-width: 640px) {
    .seller-details {
      font-size: 0.875rem;
    }
  }
  
  .seller-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  
  .seller-rating {
    display: flex;
    align-items: center;
  }
  
  .seller-rating svg {
    flex: initial;
    flex-shrink: 0;
    width: 1rem;
    height: 1rem;
    color: var(--primary-color);
    margin-right: 0.5rem;
  }
  
  @media (min-width: 640px) {
    .seller-rating svg {
      width: 1.5rem;
      height: 1.5rem;
    }
  }
  
  .product-image {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .condition-badge {
    position: absolute;
    z-index: 10;
  
   font-size: 0.8rem;
    width: 40%;
    display: flex;
    justify-content: flex-start;
    color: var(--clr-black);
    align-items: center;
    background-color: var(--clr-white);
    border-radius: 9999px;
    padding: 0.3rem 0.3rem 0.3rem 0.3rem;
  }
  .condition-badge:first-child{
    color: red;
  }
  
  
  .condition-badge > div {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 9999px;
    font-size: 0.6875rem;
    padding: 0.3rem 0.5rem 0.3rem 0.5rem;
  }
  
  .condition-badge svg {
    width: 0.8rem;
    height: 0.8rem;
    color: var(--clr-button) !important;
    padding: 1px;
    margin-right: 0.75rem;
    color: var(--primary-color);
  }
  
  .product-details {
    
    padding:0.5rem 0rem  0rem 0.5rem !important;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: center;
  }
  
  .product-brand {
    margin-right: 0.5rem;
    font-size: 0.875rem;
    line-height: 1rem;
    font-weight: bold;
    color: black;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
  }
  
  .product-name {
    display: block;
    font-size: 0.75rem;
    color: #4b5563;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0.25rem 0;
  }
  
  .product-size {
    font-size: 0.75rem;
    font-weight: 500;
    color: #4b5563;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0rem 0;
  }
  
  .price-container {
    display: flex;
    flex-direction: column;
    margin-top: 0.2rem;
  }
  
  .product-price {
    font-family: var(--font-heading);
    line-height: 1rem;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin: 0;
  }
  
  .current-price {
    font-weight: bold;
    font-size: 0.875rem;
  }
  
  .original-price {
    display: inline-block;
    font-weight: 500;
    color: #6b7280;
    text-decoration: line-through;
    font-size: 0.75rem;
    margin-left: 0.5rem;
  }
  
  .discount-badge {
    display: flex;
    align-items: center;
    border-radius: 0.125rem;
    font-weight: bold;
    color: var(--clr-white);
    padding: 0 0.5rem;
    background-color: var(--secondary-450);
    font-size: 0.625rem;
    margin-left: 0.5rem;
  }
  
  .delivery-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto !important;
   
    background-color: #f3f4f6;
    border-radius: 9999px;
    font-size: 0.6875rem;
    padding: 0.4rem 0.8rem !important;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 84%;
  }
  
  .view-all-card {
   
    padding: 0.5rem;
    flex-shrink: 0;
    display: flex;
    align-items: stretch;
    height: auto;
  }
  
  @media (min-width: 640px) {
    .view-all-card {
      width: 33.333%;
    }
  }
  
  @media (min-width: 1024px) {
    .view-all-card {
      width: 23%;
      
    }
      
  .condition-badge {
    position: absolute;
    z-index: 10;
  
   font-size: 0.8rem;
    width: 35%;}
  }
  
  .view-all-link {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    position: relative;
    height: 100%;
    border-radius: 0.5rem;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    text-decoration: none;
    color: inherit;
  }
  
  .view-all-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  
    padding: 0 2.5rem;
  }
  
  .view-all-text {
    font-size: 0.9375rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 5rem;
  }
  
  .view-all-button {
    display: flex;
    align-items: center;
    text-decoration: underline;
    font-size: 0.875rem;
    font-weight: 500;
  }
  
  .view-all-button svg {
    margin-left: 0.5rem;
    width: 1rem;
    height: 1rem;
  }
  
  .carousel-nav {
    position: absolute;
    z-index: 3;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .carousel-nav.right {
    right: 0;
  }
  
  .nav-button {
    width: 3rem;
    height: 3rem;
    border-radius: 9999px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    margin-right: 2rem;
    cursor: pointer;
    display: none;
  }
  
  .nav-button svg {
    width: 1.5rem;
    height: 1.5rem;
  }

  /* swiper js styles */
  
  .recommended-products-swiper .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  width: 100%;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
  }
  
  .recommended-products-swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 300px;
    object-fit: cover;
  }
  