.middle_main{
    position: relative;

}
.main-nav-container{
  display: flex;
  justify-content: space-between;
}
.navbar {
  display: flex;
  gap: 20px;
  padding: 10px;
  
}

.navbar button {
  padding: 5px 16px;
  cursor: pointer;
  font-size: var(--fs-400);
  background-color: transparent;
    border: none;
    color: var(--clr-black);
    font-weight: 700;
    text-transform: uppercase;
    transition: all 0.3s ease;

}
.sell-button-large{
  background-color: var(--clr-button);
  padding-inline: 4rem;
  padding-block: 0.2rem;
  margin-block: 0.3rem  ;
  border-radius: 10px;
  font-weight: 700;
  color: var(--clr-white);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;

}
.sell-button-large button{
  background: none;
  color: var(--clr-white);
}
.sell-button-large:active{
  transform: scale(0.95);
  transition: all 0.3s ease;
}
.sell-button-large:hover{
  background-color: #4DB469;
  
}
.navbar button:hover  {
  background-color: var(--clr-button);
  color: var(--clr-white);
  border-radius: 5px;
}
.active-nav {
  background-color: var(--clr-button) !important;
  color: var(--clr-white) !important;
  border-radius: 5px;
}


.menu-content{
    background-color: blue;
}
.menu-overlay {
  position: absolute;
 
  left: 0;
  width: 100%;
  background-color: var(--clr-menu-bg);
  z-index: 1000;
  overflow-y: auto;
  padding-block: 20px;
  
}

.menu-close {
  text-align: right;
  margin-bottom: 20px;
}

.menu-close button {
  font-size: 18px;
  background: none;
  border: none;
  cursor: pointer;
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 1rem;
}

.menu-card {
}

.menu-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  
}

.menu-card h3 {
  margin-top: 10px;
  font-size: var(--fs-500);
    font-weight: 700;
    color: var(--clr-black);
    margin-bottom: 1rem;
}

.menu-card ul {
  list-style: none;
  padding: 0;
}

.menu-card li {
  margin: 5px 0;
}

.menu-card a {
  color: #333;
  text-decoration: none;
}
.menu-card a:hover {
  text-decoration: underline;
    color: var(--clr-button);
}

.menu-brands {
  padding: 20px;
  display: grid;
    grid-template-columns: 1fr 1fr 3fr;
    gap: 1rem;
}

.brand-logos {
  display: flex;
  
  gap: 20px;
  flex-direction: column;
 
}

.brand-item {
  display: inline-flex;
  align-items: center;
  gap: 4px;
  text-decoration: none;
  font-size: var(--fs-400);
  padding: 2px;
  padding-inline: 0.5rem ;
  background-color: #dfe6e38f;
  border-radius: 100px;
  
}
.brand_single_logo{
    background-color: var(--clr-white);
    border-radius: 100px;
    width: 30px;
    height: 40px;
    padding: 0.2rem;
}
.brand-item span{
    font-size: 0.8rem;
    font-weight: 500;
    text-transform: capitalize;
    color: var(--clr-black)
}

.brand-item img {
    height: 31px;
}

.brand-images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 20px;
}

.brand-image {
    display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  gap: 1rem;
  
}

.brand-image img {
    width: 100%;
    height: 150px;
    object-fit: fill;
    border-radius: 10px;
}
.partners-section{
    display: flex;
    flex-direction: column;
   
  
    /* gap: 2rem; */
    /* padding: 2rem; */
}
.main-title{
    font-size: var(--fs-600);
    font-weight: 700;
    color: var(--clr-black);
   
    margin-bottom: 1rem;
}
/* footer */
.footer_container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.8rem;
  background-color: var(--clr-button);
  text-align: center;
  font-size: var(--fs-400);
 color: var(--clr-white);
  margin-top: 5rem;
}

/* tab group */
.tab-group {
  display: flex;
}
.tab-lists {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  width: 25%;
  --tw-border-opacity: 1;
  border-color: rgba(239, 242, 242, var(--tw-border-opacity));

  border-right-width: 1px;
  border-right-style: solid;
}

.tab-list-item {
  background-color: transparent;
  border: none;
  padding-block: 0.7rem;
  padding-inline: 0.5rem;
  font-size: var(--fs-400);
  font-weight: 500;
  text-transform: uppercase;
  color: var(--clr-black);
font-weight: 500;
  width: 100%;
  text-align: start;
  display: flex;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.tab-list-item:hover {
    
    color: var(--clr-button);
}
.tab-panel{
    display: flex;
    align-items: start;
    justify-content: space-between;
  margin-bottom: 5rem;
 
    /* width: 10%; */
    padding: 1rem;
    gap: 2rem;
}
.tab-list-item:focus {
  outline: none;
}

.active-tab {
  background-color: #eff2f2;
  color: var(--clr-button);
}
.tab-items-columns{
   
    height: 100%;
}
.tab-image-container img{
   object-fit: contain;
}
.tab-list-item-link{
    list-style: none;
    display: flex;
    align-items: start;
    gap: 1rem;
    flex-direction: column;
    padding-block: 0.5rem;
    padding-inline: 3rem;
    
}
.tab-list-item-link a{
    text-decoration: none;
    color: var(--clr-gray);
    font-size: var(--fs-500);
    font-weight:500;
    text-transform: capitalize;
    cursor: pointer;
    transition: all 0.5s ease;
}
.tab-list-item-link a:hover{
    color: var(--clr-button);
    text-decoration: underline;
}

@media (max-width: 75.75em) {
    .brand-image {
        display: grid
    ;
        grid-template-columns: repeat(auto-fit, minmax(5rem, 1fr));
        gap: 1rem;
    }
    .brand-image img {
        width: 100%;
        height: 100px;
        object-fit: fill;
        border-radius: 10px;
    }
}
   