.user-item {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  cursor: pointer;
  position: relative;
  transition: background-color 0.2s, transform 0.2s;
}

.user-item:hover {
  background-color: #f5f5f5;
}

.user-item.selected {
  background-color: #e6f7ff;
}

.user-item:active {
  transform: scale(0.98);
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
 
  overflow: hidden;
  flex-shrink: 0;
  transition: margin-left 0.3s ease;
}
.avatar-svg-message svg{
  width: 95%;
  height: 95%;
  border-radius: 50%;
}
.avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.avatar-placeholder {
  width: 100%;
  height: 100%;
  background-color: #00c781;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 18px;
}

.user-info-messenger {
  flex: 1;
  overflow: hidden;
  margin-left: 1rem;
}

.user-name {
  font-weight: 500;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 0.8rem;
}

.last-message {
  font-size: 13px;
  color: #888;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.delete-button {
  position: absolute;
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  color: #ff4d4f;
  cursor: pointer;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.messge-company-tagline{
  font-size: 0.9rem;
  font-weight: 600;
  color:var(--color-black)
}
.delete-button:hover {
  opacity: 1;
}

.user-item:hover .delete-button {
  opacity: 0.8;
}

.user-item:hover .avatar {

  transition: margin-left 0.3s ease;
}

@media (max-width: 768px) {
  .user-item {
    padding: 12px 15px;
  }

  .avatar {
    width: 35px;
    height: 35px;
  }

  .delete-button {
    right: 10px;
  }
}

@media (max-width: 480px) {
  .user-item {
    padding: 10px 15px;
  }

  .avatar {
    width: 32px;
    height: 32px;
    margin-right: 10px;
  }

  .user-name {
    font-size: 14px;
  }

  .last-message {
    font-size: 12px;
  }

  .delete-button {
    right: 8px;
  }
}
