/* Main container */
.search-brand-item-view {
  position: relative;
  width: 100%;
  box-sizing: border-box;
  padding-top: 1rem;
}

/* Clickable item container */
.list-search-brand-item-container {
  display: block;
  border-bottom: 1px solid var(--clr-border); /* gray-400 equivalent */
  cursor: pointer;
  transition: background-color 0.2s ease;
}


/* Content row */
.list-search-brand-item-content {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 16px;
  font-weight: 550;
  color: var(--color-light-black);
  padding: 0 16px; /* px-sm-x equivalent */
}

/* Text element */
.search-brand-item-text {
  padding: 9px 0; /* py-4 equivalent */
  font-weight: 500;
}

/* Right-aligned actions */
.search-brand-item-actions {
  margin-left: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
}