.selector-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.selector-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  position: relative;
}

.selector-header h2 {
  flex-grow: 1;
  text-align: center;
  font-size: 1.2222rem;
  font-weight: 600;
  color: var(--color-black);
}

.back-button,
.close-button {
  background: none;
  border: none;
  font-size: 1.5rem;
  line-height: 1;
  color: var(--text-dark);
  cursor: pointer;
  padding: 8px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  transition: background-color 0.2s;
}

.back-button:hover,
.close-button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.selector-content {
  flex-grow: 1;
  overflow-y: auto;
  padding-inline: 16px;
}

.selector-prompt {
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 18px;
  color: var(--text-dark);
}

.selector-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.selector-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-block: 0.3rem;
  border-bottom: 1px solid var(--border-color);
  cursor: pointer;
  transition: background-color 0.2s;
}

.selector-item:last-child {
  border-bottom: none;
}

.selector-item:hover {
  background-color: rgba(0, 0, 0, 0.02);
}

.selector-item-content {
  display: flex;
  align-items: center;
  position: relative;
}

.selector-item-icon {
  width: 72px;
  height: 72px;
  border-radius: 4px;
  overflow: hidden;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f5f5f5;
}

.selector-item-icon img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.selector-item-name {
  font-weight: 500;
  font-size: 1rem;
  color: var(--color-black);
}

.selector-item-arrow {
  font-size: 1.5rem;
  color: var(--color-black);

}
.selector-item-right{
  display: flex;
  gap: 2rem;
}

.new-badge {
  background-color: #00CC88;
  color: white;
  font-size: 0.7rem;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 4px;
  margin-left: 8px;
  text-transform: uppercase;
}