.field {
    display: inline-block;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    font-size: 24px;

  }
  
  .material-input-wrapper {
    position: relative;
    font-size: 15px;

  }
  
  .material-input {
    width: 100%;
    outline: none;
    border: 1px solid #ccc;
    appearance: none;
    background-color: white;
    padding: 8px 12px;
    font-size: 15px;
    position: relative;
border: 1px solid var(--clr-button);
border-radius: 7px;
padding-block: 0.9rem;

  }
  
  .material-input::placeholder {
    color: #666;
    opacity: 1;
    transition: opacity 0.2s ease-in-out;
    
  }
  
  .material-input:focus::placeholder {
    opacity: 0;
    
  }
  
  .material-label {
    position: absolute;
    top: 8px;
    left: 12px;
    pointer-events: none;
    white-space: nowrap;
    transition: all 0.2s ease-in-out;
    color: #888;
  }
  .material-label.email-label{
    left: 3rem !important;
  }
  /* Floating label effect */
  .material-input:focus + .material-label,
  .material-input:not(:placeholder-shown) + .material-label {
    top: -10px;
    left: 10px;
    font-size: 12px;
    color: var(--clr-button);
    background: white;
    padding: 0 4px;
  }
  
  .input-actions {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
   
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    gap: 10px;
    z-index: 10;
  }
  
.input-actions svg{
  margin-left: 1rem;
}
  /* single input */

  .my-info-inputs{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
    margin-top: 1.5rem;
  }

  .my-info-inputs-two{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0.7rem;
  }
  .cols-2{
    grid-column: span 2;
  }
  .my-info-inputs-container{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 100%;
    padding-block: 1rem;
    color: var(--color-light-black);
  }
  .email-input-class{
    padding-left: 3rem !important;
  }






  