
.messenger {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 78vh;
  transition: padding 0.3s ease;
}

.messenger-container {
  display: flex;
  width: 100%;

height: 75vh;
  background-color: #fff;
  border-radius: 10px;
  overflow: hidden;
  transition: height 0.3s ease, box-shadow 0.3s ease;
}
@media (max-width: 768px) {
  .messenger-container {
    height: 100vh;
    border-radius: 0;
  }
  
}
.user-list-container,
.message-area-container {
  transition: all 0.3s ease;
}

.user-list-container {
  width: 350px;
  flex-shrink: 0;
}

.message-area-container {
  flex: 1;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .messenger {
    padding: 0;
    height: 100vh;
  }

  .messenger-container {
    height: 100vh;
    border-radius: 0;
    flex-direction: column;
  }

  .messenger-container.show-conversation .user-list-container {
    display: none;
  }

  .messenger-container.show-conversation .message-area-container {
    height: 100%;
    z-index: 9999;
  }

  .user-list-container {
    height: 100%;
    width: 100%;
  }

  .message-area-container {
    height: 100%;
    width: 100%;
  }
}

@media (max-width: 480px) {
  .messenger-container {
    height: 100vh;
    border-radius: 0;
  }
}
