.no-sales-container {
    padding-left: 2rem;
    padding-right: 2rem;
    background-color: white;
    position: relative;
    z-index: 10;
    padding-bottom: 5rem;
  }
  
  .no-sales-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-white);
    position: relative;
    z-index: 10;

  }
  
  .no-sales-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    color: var(--color-light-black);
    font-weight: 400;
  }
  
  .no-sales-icon {
    height: 3.2rem;
    width: 3.2rem;
    color: var(--clr-black);
  }
  
  .no-sales-name {
    font-weight: bold;
    font-size: 1.375rem;
    margin-top: 1rem;
    text-transform: capitalize;
    font-family: "Montserrat", sans-serif;
    color: var(--color-light-black);
  }
  
  .no-sales-subtext {
    font-size: 0.875rem;
    margin-top: 1rem;
  }
  
  .no-sales-arrow {
    min-height: 3rem;
    min-width: 3rem;
  }

  @media (max-width: 768px) {
    .no-sales-message {
      padding-left: 1rem;
      padding-right: 1rem;
      padding-top: 3rem;
      padding-bottom: 3rem;
    }
  
    .no-sales-name {
      font-size: 1.125rem;
    }
  
    .no-sales-subtext {
      font-size: 0.75rem;
    }
  
    .no-sales-icon {
      height: 2.5rem;
      width: 2.5rem;
    }
  
    .no-sales-arrow {
      min-height: 2.5rem;
      min-width: 2.5rem;
    }
    
    
  }