.lamp-wrapper {
    padding-block: 0.5rem;
    grid-column: span 2;
    margin-inline: auto;
   
  }
  @media (max-width: 45.438em) {
    .lamp-wrapper {
   padding-block: 0rem;
    }
    
  }
  .heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .brand {
    font-size: 1rem;
    font-weight: 500;
    color: #666;
  }
  
  .brand-link {
    text-decoration: underline;
    color: inherit;
  }
  
  .size {
    font-size: 0.9rem;
    color: #666;
    margin-top: 0.2rem;
  }
  
  .price-section {
    margin-bottom: 1rem;
  }
  
  .price-wrapper {
    display: flex;
    justify-content: space-between;
  }
  
  .price {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--clr-black);
  }
  
  .service-fee {
    font-size: 0.8rem;
    color: #777;
    /* margin-top: 0.1rem; */
  }
  
  .condition-card {
    margin-top: 1.5rem;
    padding: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid var(--clr-border);
    border-radius: 8px;
  }
  
  .condition-header {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  
  .condition-status {
    font-weight: 600;
    color: #6DD7FE;
  }
  
  .info-btn {
    background: none;
    border: none;
    cursor: pointer;
    color: #333;
    font-size: 1.2rem;
  }
  
  .description {
    font-size: 0.9rem;
    color: #555;
    margin-top: 0.5rem;
  }
  
  .extra-info {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: #6DD7FE;
  }
  
  .divider {
    margin: 0 0.5rem;
    color: #aaa;
  }
  


  /* profile card */
  .profile-card {
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
    border: 1px solid #ddd;
    padding: 0.7rem;
    margin-top: 1.5rem;
    position: relative;
  }
  
  .profile-link {
    display: block;
    text-decoration: none;
    color: inherit;
  }
  
  .profile-content {
    display: flex;
    align-items: center;
  }
  
  .profile-image-container {
    width: 5rem;
    height: 5rem;
    position: relative;
    border-radius: 9999px;
  }
  
  .profile-image-wrapper {
    display: flex;
    border-radius: 9999px;
    overflow: hidden;
    border: 1px solid #9ca3af;
  }
  
  .profile-picture {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    overflow: hidden;
    position: relative;
    min-height: 0;
  }
  
  .profile-img {
    height: 100%;
    object-fit: cover;
    width: 100%;
    border: 0;
  }
  
  .profile-info {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: center;
    flex: 1;
    overflow-y: auto;
    align-items: flex-start;
  }
  
  .profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .profile-name-container {
    width: 80%;
  }
  
  .profile-name {
    font-weight: bold;
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-transform: capitalize;
    font-size: 0.875rem;
  }
  
  .favorite-button {
    transition-property: color;
    transition-duration: 300ms;
    position: absolute;
    top: 0;
    right: 1rem;
    background-color: white;
    border: 1px solid white;
  }
  
  .favorite-button svg {
    width: 1.4rem;
    height: 1.4rem;
    margin-top:0.5rem ;
  }
  
  .badge-container {
    width: auto;
  }
  
  .verified-badge {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0.5rem 0;
    border-radius: 9999px;
    font-weight: 500;
    font-size: 0.8125rem;
    padding: 0.2rem 0.6rem;
    background-color: #E9E9EA; /* accent color - adjust as needed */
    color: var(--clr-button); /* adjust as needed */
  }
  
  .verified-badge svg {
    
    padding: 1px;
    width: 1.1rem;
    height: 1.1rem;
    margin-right: 0.75rem;
  }
  
  .profile-footer {
    display: flex;
    justify-content: space-between;
    font-size: 0.625rem;
    color: #6b7280;
    align-items: center;
    width: 100%;
    font-family: sans-serif;
  }
  
  .location-info {
    display: flex;
    align-items: center;
    max-width: 64%;
    justify-content: center;
  }
  
  .location-info svg {
    color: var(--clr-button);
    width: 1rem;
    height: 1rem;
    margin-right: 0.5rem;
  }
  
  .location-info .separator {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
  }
  
  .location {
    margin-top: 0.25rem;
    margin-left: 0.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  
  .articles-count {
    display: flex;
    align-items: center;
    flex-shrink: 0;
    margin-top: 0.25rem;
    align-self: flex-end;
  }
  
  .articles-count svg {
    color: var(--clr-black);
    width: 0.7rem;
    height: 0.7rem;
    margin-left: 0.5rem;
  }
  /* profile card end */


  /* garantee button */
  .guarantee-button {
    width: 100%;
    padding-top: 2rem;
    padding-bottom: 2rem;
    text-align: left;
    display: flex;
    flex-direction: column;
    border-top: 1px solid var(--clr-border);
    border-bottom: 1px solid var(--clr-border);
    border-left: none;
    border-right: none;
    margin-top: 1.5rem;
    
    background: none;
    cursor: pointer;
  }
  
  .guarantee-logo {
    margin-bottom: 0.5rem;
  }
  
  .guarantee-text {
    font-size: 1rem;
    color: #6b7280; /* text-surface-medium equivalent */
    margin: 0;
  }
  
  .learn-more-link {
    font-size: 0.875rem;
    font-weight: 600;
    text-decoration: underline;
    margin-top: 1rem;
    color: inherit;
  }
  /* garantee button end */

  /* app stores links */

  .app-store-links {
    display: flex;
    gap: 1rem; /* 16px equivalent to gap-4 */
    padding: 1rem; /* 32px equivalent to p-8 */
    border-bottom: 1px solid var(--clr-border); /* border-gray-400 border-b border-solid */
  }
  
  .app-store-link {
    display: flex;
    justify-content: flex-end;
    text-decoration: none;
  }
  
  /* Optional: Add hover effects */
  .app-store-link:hover {
    opacity: 0.8;
    transition: opacity 0.2s ease;
  }
  
  /* Ensure images maintain their aspect ratio */
  .app-store-link img {
    width: 120px;
    height: auto;
    max-width: 100%;
  }
  /* app stores links end */


  /* product info */

  .product-info-container {
    padding-block: 2rem; /* p-8 */
   
    font-family: sans-serif; /* font-sans */
  }
  
  .info-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 0.875rem; /* text-14 */
    margin-bottom: 1rem; /* mb-6 */
    color: var(--clr-black); /* text-surface-medium equivalent */
  }
  
  .info-item svg {
    width: 1.3rem; /* w-8 */
    height: 1.3rem; /* h-8 */
    margin-right: 1rem; /* mr-6 */
    color: var(--clr-black);
  }
  
  .bold-text {
    font-weight: bold; /* font-bold */
  }
  
  .like-button {
    transition-property: color;
    transition-duration: 300ms;
    width: 1.3rem; /* w-8 */
    height: 1.3rem; /* h-8 */
    margin-right: 1.5rem; /* mr-6 */
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
  }
  
  .like-button svg {
    width: 100%;
    height: 100%;
  }
  
  /* Optional hover effect for the like button */
  .like-button:hover {
    opacity: 0.8;
  }
  /* product info end */